@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 14px;
  }
}

html {
  font-size: calc( 10px + (14 - 10) * ((100vw - 400px) / ( 800 - 400)));
}

body,
html {
  font-family: 'Jost', sans-serif;
  /* font-family: 'Mina', sans-serif; */
  height: 100%;
  overflow-x: hidden;
  /* user-select: none; */

  background: #f0fff0;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;

  margin: 15px auto 0;
  padding-bottom: 10px;

  text-align: center;
  
  border-bottom: 3px solid #808080;
}

.container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 100%;
  min-width: 320px;
  max-width: 1600px;
  min-height: 500px;
  /* gap: 20px; */
  
  padding: 20px;
  border-bottom: 3px solid #808080;
}

h1, h2, h3 {
  text-align: center;
}

.nav-link-container {
  display: flex;
  width: 100%;
  /* max-width: 1000px; */
  margin: 3rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  background: #361F36;
}

.nav-link {
  position: relative;
  flex-grow: 1;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  opacity: .6;
  border-bottom-width: .2rem;
  border-bottom-style: solid;
  border-bottom-color: transparent; 
}

.nav-link:hover {
  opacity: 1;
  border-bottom-color: hsl(60, 50%, 50%);
}

.nav-link.active,
.nav-link.active:hover {
  opacity: 1;
  border-bottom-color: hsl(120, 50%, 50%);
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  width: 100%;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.wrapper-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* .wrapper-content > * {

} */