.authentication-content {
  width: 100%;
  margin-top: 15px;
}

.authentication-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 10px;

  background-color: #f9f9f9;

  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
}